<%- layout('layouts/boilerplate') %> 

<div class="row justify-content-between">
  <section class="card col col-xl-6 my-5 shadow">
    <div class="card-body">
      <div class="row justify-content-between my-3">
        <h2 class="col-lg-5 d-inline">Tickets</h2>
        <a href="/project/<%= project._id %>/newTicket" class="btn col col-lg-4 col-xl-3 btn btn-sm btn-primary bold-text d-inline-block m-2">New Ticket</a>
      </div>
    <!-- table for tickets -->
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Title</th>
            <th>Description</th>
            <th>Type</th>
            <th>Priority</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <% for (let ticket of project.projectTickets) { %> 
            <tr>
              <td><a href="/project/<%= project._id %>/ticket/<%= ticket._id %>"><%= ticket.title %></a></td>
              <td><a href="/project/<%= project._id %>/ticket/<%= ticket._id %>"><%= ticket.description %></a></td>
              <td><%= ticket.type %></td>
              <td><%= ticket.priority %></td>
              <td><%= ticket.status %></td>
            </tr>
          <% } %> 
        </tbody>
      </table>
    </div>
  </div>
  </section>
  <!-- table for developer managmet in project -->
  <section class="card col-xl-5 my-5 shadow">
    <div class="card-body">
      <div class="row justify-content-between my-3">
        <h2 class="col-lg-5 d-inline">Team</h2>
        <% if (user.userType === 'Admin') { %> 
          <button class="col col-lg-4 btn btn-sm btn-primary bold-text d-inline-block m-2"
            data-bs-toggle="modal"
            data-bs-target="#manageDevsModal">
              Manage
          </button>
        <% } %> 
      </div>
    <div class="table-responsive">
      <table class="table">
        <thead>
          <tr>
            <th>Name</th>
            <th>E-mail</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <% if (project.assignedDevs.length) { %> 
            <% for (let dev of project.assignedDevs) { %> 
              <tr>
                <td><%= dev.username %></td>
                <td><%= dev.email %></td>
                <td><%= dev.phone %></td>
              </tr>
            <% } %> 
          <% } %> 
        </tbody>
      </table>
    </div>
    </div>
  </section>
</div>
<div class="row">
  <!-- comment section -->
  <section class="card col-xl-6 my-5 shadow">
    <div class="card-body">
      <!-- displaying comments -->
      <div class="my-3">
        <h2>Comments</h2>
      </div>
      <ul class="comments">
        <% if (project.comments.length) { %> 
          <% for (let comment of project.comments) { %> 
            <li>
              <div>
                <p><%= comment.text %></p>
                  <% if (comment.author) { %> 
                    <p class="comment-info">Author: <%= comment.author.username %> Posted At: <%= moment(comment.createdAt).format('lll') %></p>
                  <% } else { %> 
                    <p class="comment-info">Author: Deleted User Posted At: <%= moment(comment.createdAt).format('lll') %></p>
                  <% } %> 
              </div>
            </li>
          <% } %> 
        <% } else { %> 
          <p>There are no comments for this project.</p>
        <% } %> 
      </ul>
      <!-- form for comment posting -->
      <div class="my-4">
        <form action="<%= project._id %>/comment" method="POST" class="validated-form" novalidate>
          <input type="text" name="comment[text]" id="comment" class="form-control" autocomplete="off" required>
          <button class="btn btn-primary btn-sm bold-text mt-2">Post Comment</button>
        </form>
      </div>
    </div>
  </section>
</div>


<!-- Modal for Developer Managment in Project -->
<div class="modal fade" id="manageDevsModal">
  <div class="modal-dialog">
    <div class="modal-content p-3">
      <div class="modal-header">
        <h2 class="modal-title">Team Managment</h2>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <!-- Adding new developer to project -->
        <h4 class="">Add Developer</h4>
        <form action="/project/<%= project._id %>?_method=PATCH" method="POST" class="field">
          <div class="mb-4">
            <label for="addDev" class="form-label">Choose Developer</label>
            <select name="dev" id="dev" class="form-select">
              <% for (let dev of users) { %> 
                <option value="<%= dev._id %>"><%= dev.username %></option>
              <% } %> 
            </select>
          </div> 
          <div class="mb-4">
            <button class="btn btn-primary">Add To Team</button>
          </div> 
        </form>
        <!-- Removing develport from project -->
        <h4 class="">Remove Developer</h4>
        <div class="table-responsive">
          <table class="table">
            <thead>
              <tr>
                <th>Name</th>
                <th>Remove</th>
              </tr>
            </thead>
            <tbody>
              <% if (project.assignedDevs.length) { %> 
                <% for (let assignedDev of project.assignedDevs) { %> 
                  <tr>
                    <td><%= assignedDev.username %></td>
                    <td>
                      <form action="/project/<%= project._id %>/<%= assignedDev._id %>/remove?_method=PATCH" method="POST">
                        <button class="btn btn-sm btn-danger">-</button>
                      </form>
                    </td>
                  </tr>
                <% } %> 
              <% } %> 
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>